@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1170px;
    --clr-title: #6d6f6e;
    --clr-title-dark: #343434;
    --clr-text: #979696;
    --clr-body: #eaeaea;
    --clr-container: #f6f6f6;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        scroll-behavior: smooth;
        font-family: Poppins, sans-serif;
    }
    body {
        background-color: #f0f0f0;
        /* background-color: var(--clr-title-dark); */
    }
    button,
    input,
    textarea {
        font-size: 1rem;
        @apply focus:outline-none focus:border-title;
    }
    h1,
    h2,
    h3 {
        @apply text-title_dark;
        font-weight: 600;
    }
    /* h1 {
        @apply text-4xl;
    } */
    h2 {
        @apply text-xl;
    }
    h3 {
        font-weight: 500;
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    button {
        cursor: pointer;
        /* border: none; */
        outline: none;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    section {
        /* padding: 2rem 0; */
    }
}

@layer components {
    /* .bg-gradient {
        background: radial-gradient(
            circle at top,
            #fafafa,
            #d2d2d2,
            transparent
        );
    } */
    .section {
        padding: 5rem 0;
        /* margin-bottom: 5rem; */
        /* @apply sm:p-20; */
    }

    .section-center {
        width: 90vw;
        margin: 0 auto;
        max-width: var(--max-width);
    }

    .section--title {
        font-size: 2.25rem;
        @apply text-title_dark;
    }

    .section--subtitle {
        display: block;
        font-size: 0.875rem;
        margin-bottom: 4rem;
    }

    .section--title,
    .section--subtitle {
        text-align: center;
        margin-bottom: 4rem;
    }

    .grid-cols {
        grid-template-columns: repeat(2, max-content);
    }
    /* .button-c {
        display: inline-block;
        @apply bg-[#f0f0f0];
        padding: 1rem 1.25rem;
        font-weight: 500;
    }

    .button--icon {
        margin-left: 0.5rem;
    }

    .button--flex {
        display: inline-flex;
        align-items: center;
    } */

    .custom-box-shadow {
        box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
    }

    .home-content {
        /* grid-template-columns: repeat(2, max-content); */
        padding-top: 5.5rem;
        align-items: center;
        justify-content: center;
    }

    .home-subtitle {
        position: relative;
        font-size: 1.25rem;
        font-weight: normal;
    }

    .home-img {
        order: 1;
    }

    .skills-container {
        grid-template-columns: repeat(2, 400px);
        column-gap: 3rem;
        justify-content: center;
    }

    .skill-content {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 2rem 2rem;
        border-radius: 1.25rem;
    }

    .contact-container {
        grid-template-columns: repeat(1, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 6rem;
        padding-bottom: 3rem;
    }

    .contact-form-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid rgba(0, 0, 0, 0.3);
        background: none;
        color: #979696;
        outline: none;
        border-radius: 0.125rem;
        padding: 1.5rem;
        z-index: 1;
    }

    .active-work {
        @apply bg-title_dark text-container;
    }

    .footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .scroll-header {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    }

    .gradient-line {
        background: linear-gradient(to right, #a3a3a300, #c6c6c6, #a3a3a300);
    }

    .swiper-pagination-bullet {
        background-color: #343434; /* 按钮的背景颜色 */
        width: 10px; /* 按钮的宽度 */
        height: 10px; /* 按钮的高度 */
        margin: 5px; /* 按钮之间的间距 */
    }
}

@layer utilities {
    .nav-link {
        @apply text-text font-medium transition duration-300  hover:text-title_dark active:text-title_dark;
    }
    .nav-active {
        @apply text-title_dark;
    }

    .nav-menu {
        @apply bg-body px-6 drop-shadow-[0_-1px_4px_rgba(0,0,0,0.15)] rounded-[0_0_1.5rem_1.5rem];
    }

    .social-icon {
        @apply text-3xl bg-text bg-opacity-30 p-1 transition duration-300 text-body hover:text-title_dark hover:bg-body lg:text-4xl;
    }

    .social-icon-footer {
        @apply text-3xl bg-body p-1 text-title_dark transition duration-300 hover:text-body hover:bg-title_dark;
    }
}
